#main{
	-webkit-column-width:202px ;
	-moz-column-width: 202px;
	-o-column-width: 202px;
	-ms-column-width:202px;
	column-width: 202px;
	-webkit-column-rule:2px dashed red ;
	-moz-column-rule:2px dashed red ;
	-o-column-rule:2px dashed red ;
	-ms-column-rule:2px dashed red ;
	column-rule:2px dashed red ;
	/*-webkit-column-gap:5px ;
	-moz-column-gap:5px ;
	-o-column-gap:5px ;
	-ms-column-gap:5px ;
	column-gap:5px ;*/
	
}
.box{
	padding: 10px 0 0 15px;
}
.pic{
	padding:10px;
	border:1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #CCCCCC;
}
.pic img{
	display: block;
	width: 165px;
	height: auto;
}
